---
layout: default
---

{{ content }}

Here is some stuff about me.

I am a [current Gregorian calendar year - 1992] year-old AAPI currently investigating how to {reliably, efficiently, economically} use lithium-ion batteries for grid-scale storage.

Sometimes, I swim from Alcatraz, across Waikiki, and from the Golden Gate to the Bay Bridge.

Sometimes, I play baritone saxophone in a band (The Baylands, and Jack's Friends (on indefinite hiatus)).

Sometimes, I cook {Japanese, Korean, Chinese, Italian, American, Mexican, Persian} food and bake {Japanese, Korean, Chinese, French, Italian, American} desserts.

Often, I am drinking boba (but not as often as during undergrad).

Maybe one day I will put photos here of everything I do, once I re-learn HTML.
